body {
  margin: 0;
  padding: 0;
  background-color: lightpink;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightseagreen;
}
#containerDogs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px;
  gap: 0.5em;
}
@media only screen and (max-width: 1000px) {
  #containerDogs {
    display: flex;
    flex-direction: column;
    height: 1400px !important;
    width: 35% !important;
    margin: 0 auto !important;
    padding: 12px !important;
    gap: 0.2em;
  }
}
