* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace;
  background-color: wheat;
  font-size: 8em;
  font-weight: bold;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: wheat;
  height: 400px;
  padding: 16px;
  margin: auto;
}
span {
  background-color: #2a2d2f;
  padding: 8px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}
