* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace;
  background-color: #2a2d2f;
  font-size: 8em;
  font-weight: bold;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 200px;
  padding: 16px;
  margin: auto;
}
span {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00f8c0, #2475ff);
  padding: 8px;
}
a {
  color: #d9eee1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #d9eee1;
}
